<div class="container mt-3">
    <h2>Juegos de Play Station 4 !</h2>
    <p>Lista de los juegos mas destacados!</p>  
    <h2>
        Iniciar busqueda <input type="text" [(ngModel)]="filtro" >
    </h2> 

    <table class="table table-striped">
         
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Información</th>
        </tr>
      </thead>
      <tbody>
        @for (juego of juegos; track juego){
            @if(juego.id == +filtro){
        <tr>
          <td>{{juego.id}}</td>
          <td>{{juego.nombre}}</td>
          <td>{{juego.precio}}</td>  
          <td><button [routerLink]="['/detalles', juego.id]">detalles</button></td>   
        </tr>
        }
        
    }
    <h3>
        Ingresar el precio del producto: <input type="text" [(ngModel)]="cantidad"/>
    </h3>
    
    
    
    
    
      </tbody>
    </table>
  </div>
  