<div class="container">
    <div class="content">
      <h1>Bienvenido a nuestra tienda de juegos PS4</h1>
      <p>Explora nuestra colección de los últimos y más emocionantes juegos para tu consola PS4.</p>
    </div>

    <div class="jumbotron">
      <h2>Ofertas Especiales</h2>
      <p>¡No te pierdas nuestras increíbles ofertas en juegos seleccionados!</p>
      
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">God of War 4</h5>
            <p class="card-text">Explora inmensos reinos Viaja a través de peligrosos e increíbles paisajes a la vez que te enfrentas a una variedad de criaturas enemigas, monstruos y dioses nórdicos mientras que Kratos y Atreus buscan respuestas.</p>
            <a href="#" class="btn btn-primary">Detalles</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Uncharted</h5>
            <p class="card-text">Adéntrate en el peligroso viaje con el que se iniciaron las legendarias aventuras de Nathan Drake. Sal en busca del tesoro perdido de El Dorado con la ayuda de la intrépida periodista Elena Fisher y de Victor 'Sully' Sullivan, el mentor y amigo de Nathan.</p>
            <a href="#" class="btn btn-primary">Detalles</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Call of duty</h5>
            <p class="card-text">Call of Duty es un videojuego de disparos en primera persona de tipo bélico desarrollado por Infinity Ward. El videojuego es el primer título de la franquicia en ser lanzado para las videoconsolas de séptima generación.</p>
            <a href="#" class="btn btn-primary">Detalles</a>
          </div>
        </div>
      </div>
    </div>
  </div>
